{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
<!-- Style from Bootstrap -->
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Symbol</th>
                </tr>
            </thead>
            <tbody>
                <!-- Print result -->
                <tr>
                    <td >{{ result["name"] }}</td>
                    <td>{{ result["price"] }}</td>
                    <td>{{ result["symbol"] }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}