{% extends "layout.html" %}

{% block title %}
  Homepage
{% endblock %}

{% block navbar %}
  <nav class="nav nav-masthead justify-content-center float-md-end">
    <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="/">Home</a>
    <a class="nav-link fw-bold py-1 px-0" href="/summary">Summariser (wt)</a>
    <a class="nav-link fw-bold py-1 px-0" href="#">Apology Generator (wt)</a>
  </nav>
{% endblock %}

{% block main %}

  <div class="px-3 mb-5">
    <h1>Welcome to WorkWise!</h1>
    <p class="lead">This is an interface with predefined prompts powered by GPT 3.5 Turbo to help you with all your work related needs!</p>
    <p class="lead">Built with Flask, Bootstrap and Python</p>
    <p class="lead">
      <a href="https://platform.openai.com/docs/api-reference/chat" target="_blank" class="btn btn-lg btn-light fw-bold border-white bg-white">OpenAI API</a>
      <a href="https://flask.palletsprojects.com/en/2.2.x/" target="_blank" class="btn btn-lg btn-light fw-bold border-white bg-white">Flask</a>
      <a href="https://getbootstrap.com/docs/5.3/examples/" target="_blank" class="btn btn-lg btn-light fw-bold border-white bg-white">Bootstrap</a>
      <a href="https://docs.python.org/3/" target="_blank" class="btn btn-lg btn-light fw-bold border-white bg-white">Python</a>
    </p>
  </div>

{% endblock %}