{% extends "layout.html" %}

{% block title %}
    <!-- Insert title here -->
{% endblock %}

{% block navbar %}
    <!-- Ensure current page is highlighted by adding <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" -->
    <!-- href currently left mostly placeholder, make sure to update! -->
    <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link fw-bold py-1 px-0" href="/">Home</a>
        <a class="nav-link fw-bold py-1 px-0" href="#">Email Helper (wt)</a>
        <a class="nav-link fw-bold py-1 px-0" href="#">Apology Generator (wt)</a>
    </nav>
{% endblock %}

{% block main %}
    <!-- Insert main block here -->
{% endblock %}